<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="song">
      <h2 data-cy="songDetailsHeading"><span jhiTranslate="bitirmeProjesiApp.song.detail.title">Song</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ song.id }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.artistName">Artist Name</span></dt>
        <dd>
          <span>{{ song.artistName }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.trackName">Track Name</span></dt>
        <dd>
          <span>{{ song.trackName }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.releaseDate">Release Date</span></dt>
        <dd>
          <span>{{ song.releaseDate }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.genre">Genre</span></dt>
        <dd>
          <span>{{ song.genre }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.lyrics">Lyrics</span></dt>
        <dd>
          <span>{{ song.lyrics }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.len">Len</span></dt>
        <dd>
          <span>{{ song.len }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.dating">Dating</span></dt>
        <dd>
          <span>{{ song.dating }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.violence">Violence</span></dt>
        <dd>
          <span>{{ song.violence }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.worldLife">World Life</span></dt>
        <dd>
          <span>{{ song.worldLife }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.nightTime">Night Time</span></dt>
        <dd>
          <span>{{ song.nightTime }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.shakeTheAudience">Shake The Audience</span></dt>
        <dd>
          <span>{{ song.shakeTheAudience }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.familyGospel">Family Gospel</span></dt>
        <dd>
          <span>{{ song.familyGospel }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.romantic">Romantic</span></dt>
        <dd>
          <span>{{ song.romantic }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.communication">Communication</span></dt>
        <dd>
          <span>{{ song.communication }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.obscene">Obscene</span></dt>
        <dd>
          <span>{{ song.obscene }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.music">Music</span></dt>
        <dd>
          <span>{{ song.music }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.movementPlaces">Movement Places</span></dt>
        <dd>
          <span>{{ song.movementPlaces }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.lightVisualPerceptions">Light Visual Perceptions</span></dt>
        <dd>
          <span>{{ song.lightVisualPerceptions }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.familySpiritual">Family Spiritual</span></dt>
        <dd>
          <span>{{ song.familySpiritual }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.likeGirls">Like Girls</span></dt>
        <dd>
          <span>{{ song.likeGirls }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.sadness">Sadness</span></dt>
        <dd>
          <span>{{ song.sadness }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.feelings">Feelings</span></dt>
        <dd>
          <span>{{ song.feelings }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.danceability">Danceability</span></dt>
        <dd>
          <span>{{ song.danceability }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.loudness">Loudness</span></dt>
        <dd>
          <span>{{ song.loudness }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.acousticness">Acousticness</span></dt>
        <dd>
          <span>{{ song.acousticness }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.instrumentalness">Instrumentalness</span></dt>
        <dd>
          <span>{{ song.instrumentalness }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.valence">Valence</span></dt>
        <dd>
          <span>{{ song.valence }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.energy">Energy</span></dt>
        <dd>
          <span>{{ song.energy }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.topic">Topic</span></dt>
        <dd>
          <span>{{ song.topic }}</span>
        </dd>
        <dt><span jhiTranslate="bitirmeProjesiApp.song.age">Age</span></dt>
        <dd>
          <span>{{ song.age }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/song', song.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
